<footer class="footer">
  <h2>Chocolate a delicious cure for a bad day</h2>
  <p>Contact use</p>
  <address class="footer-address">
    <ul class="footer-address-list list">
      <li class="footer-address-item">
        <a href="mailto:simplychoc@gmail.com" class="footer-link-addr"
          >simplychoc@gmail.com</a
        >
      </li>
      <li class="footer-address-item">
        <a href="tel:+380684439426" class="footer-link-addr"
          >+380 (68) 443-94-26</a
        >
      </li>
    </ul>
  </address>

  <ul class="footer-socialnet-list">
    <li class="footer-socialnet-item">
      <a
        href="https://www.instagram.com/"
        class="footer-social-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer-socialnet-svg" width="24" height="24">
          <use
            class="footer-socialnet-icon"
            href="./images/icons.svg#instagram"
          ></use>
        </svg>
      </a>
    </li>
    <li class="footer-socialnet-item">
      <a
        href="https://www.twitter.com/"
        class="social-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer-socialnet-svg" width="24" height="24">
          <use
            class="footer-socialnet-icon"
            href="./images/icons.svg#twitter"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
  <ul class="footer-menu">
    <li class="footer-menu-item"></li>
  </ul>
</footer>
