<section class="hero" id="hero">
  <div class="container fade-in">
    <div class="hero-container">
      <h1 class="visually-hidden">Simply chocolate </h1>
      <h2 class="hero-txt puff-in-center">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-btns-container fade-in-w-delay">

        <button type="button" class="hero-btn hero-buy-btn" data-first-modal-open>Buy now</button>
        <a href="#howitsmade" class="hero-btn hero-anchor-how">How it’s made</a>
        <a href="#footer" class="hero-anchor-footer">
          <span class="hero-scroll-txt">scroll down</span>
          <div class="scroll-icon-box">
            <svg class="scroll-icon" width="16" height="16">
              <use href="./img/icons.svg#icon-scroll"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>