<section class="hero" id="hero">
  <div class="a-container">
    <div class="hero-container">
      <h1 class="visually-hidden">Simply chocolate shop</h1>
      <h2 class="hero-txt">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-btns-container">
        <!-- ADD CLASS AND DATA FOR MODAL -->
        <button type="button" class="hero-btn hero-buy-btn">Buy now</button>
        <a href="#how" class="hero-btn hero-anchor-how">How it’s made</a>
        <a href="#footer" class="hero-anchor-footer">
          <span class="hero-scroll-txt">scroll down</span>
          <div class="scroll-icon-box">
            <svg class="scroll-icon" width="16" height="16">
              <use href="../img/icons.svg#icon-scroll"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>