<section class="how-its-made-section">
  <div class="made-container container">
    <h1 class="made-title">
      HOW IT'S <span class="made-title-span">MADE?</span>
    </h1>
    <div class="made-img-container">
      <img
        src="../img/howitmadeimg/image_mob@1x.jpg"
        srcset="../img/howitmadeimg/image_mob@1x.jpg 335w,
      ../img/howitmadeimg/image_mob@2x.jpg 335w,
      ../img/howitmadeimg/image_tab@1x.jpg 400w 614h,
      ../img/howitmadeimg/image_tab@2x.jpg 400w 614h,
      ../img/howitmadeimg/image_desk@1x.jpg 400w,
      ../img/howitmadeimg/image_desk@2x.jpg 400w"
        sizes="(min-width: 1200px) 400px, (min-width: 768px) 400px, (min-width: 375px) 335px"
        alt="video of chocolate"
        class="made-img"
      />
      <svg height="35" width="35" class="made-img-icon">
        <use href="./play.svg#play"></use>
      </svg>
    </div>
    <div class="made-list-container">
      <p class="made-uppertitle">
        Try our chocolates today and discover the perfect balance of flavor
      </p>
      <ul class="made-list">
        <li class="made-list-item">
          <p class="made-list-text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </p>
        </li>

        <li class="made-list-item">
          <p class="made-list-text">
            At the same time, prepare a water bath. Melt the butter on it.
          </p>
        </li>

        <li class="made-list-item">
          <p class="made-list-text">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </p>
        </li>

        <li class="made-list-item">
          <p class="made-list-text">
            Heat the mixture over low heat, letting it barely boil.
          </p>
        </li>

        <li class="made-list-item">
          <p class="made-list-text">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
