<!-- Modal Window TOP-SELLERS -->
<div class="buy-now-backdrop is-hidden" data-first-modal>
    <div class="buy-now-modal">
        <button class="buy-now-modal-close-btn" type="button" data-first-modal-close>
            <svg class="buy-now-close-icon" width="14" heigth="14">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>

        <strong class="top-sellers-logo">BUY<span class="top-sellers-part"> NOW</span></strong>
        <div class="buy-now-menu">
            <ul class="buy-now-menu-snacks">
                <li class="buy-now-menu-snacks-card">
                    <button class=""></button>
                    <div class="buy-now-chocolate-bar">
                        <img class="image" srcset="./img/top-sellers-modal/modal-img-1-mobile.png, ./img/top-sellers-modal/modal-img-1-mobile@2x.png,
              ./img/top-sellers-modal/modal-img-1-desktop.png, ./img/top-sellers-modal/modal-img-1-desktop@2x.png"
                            src="./img/top-sellers-modal/modal-img-1-mobile.png" alt="chocolate cubes" width="120"
                            height="107" />
                </li>
        </div>

        <div class="buy-now-chocolate-bar-gram"></div>
        </li>

        <li class="buy-now-menu-snacks-card">
            <button class=""></button>
            <div class="buy-now-chocolate-bar">
                <img class="image" srcset="./img/top-sellers-modal/modal-img-2-mobile.png, ./img/top-sellers-modal/modal-img-2-mobile@2x.png,
              ./img/top-sellers-modal/modal-img-2-desktop.png, ./img/top-sellers-modal/modal-img-2-desktop@2x.png"
                    src="./img/top-sellers-modal/modal-img-2-mobile.png">

                <svg class="buy-now-chocolate-bar-icon" alt="milk and white chocolate" width="120" height="107"></svg>
            </div>

            <div class="buy-now-chocolate-bar-gram">

            </div>
        </li>

        <li class="buy-now-menu-snacks-card">

            <div class="buy-now-chocolate-bar">
                <img class="image" srcset="./img/top-sellers-modal/modal-img-3-mobile.png, ./img/top-sellers-modal/modal-img-3-mobile@2x.png,
              ./img/top-sellers-modal/modal-img-3-desktop.png, ./img/top-sellers-modal/modal-img-3-desktop@2x.png"
                    src="./img/top-sellers-modal/modal-img-3-mobile.png">
                <svg class="buy-now-chocolate-bar-icon" alt="Chocolate bar" width="120" height="107"></svg>
                <div> <button class="" type="button"></button></div>
            </div>
            <div class="buy-now-chocolate-bar-gram">

            </div>
        </li>
    </div>
    </ul>

    <form name="Personal information">
        <label class="buy-now-form" for="user-name">Personal information</label>
        <div>
            <input class="buy-now-firm-field" placeholder="Name" type="text" name="user-name" id="user-name" required />
            <label class="buy-now-form" for="Surname-name"></label>
            <input class="buy-now-firm-field" placeholder="Surname" type="text" name="Surname-name" id="Surname-name"
                required />
        </div>
        <label class="buy-now-form" for="user-email">Email</label>
        <div>
            <input class="buy-now-firm-field" placeholder="Enter your email" type="email" name="user-email"
                required></label>
        </div>
        <form name="Phone number">
            <label class="buy-now-form" for="user-phone">Phone number</label>
            <div>
                <input class="buy-now-firm-field" placeholder="Phone number" type="tel" type="number" name="phone"
                    id="user-phone" required required minlength="5" maxlength="15" />
            </div>
            <label class="buy-now-form" for="user-card">Card number</label>
            <div>
                <input class="buy-now-firm-field" placeholder="Enter  card" type="tel" name="card" id="user-card"
                    required minlength="14" maxlength="16" />
            </div>

            <label class="buy-now-form" for="user-comment" for="user-comment">Comment</label>
            <textarea class="buy-now-form-comment" name="comment" id="user-comment" rows="5"
                placeholder="Enter text"></textarea>
            <button class="sellers-hero-btn sellers-hero-buy-btn" type="submit">Submit</button>
        </form>
</div>
</div>