<div class="buy-now-backdrop is-hidden" data-first-modal>
  <div class="buy-now-modal">
    <button
      class="buy-now-modal-close-btn"
      type="button"
      data-first-modal-close
    >
      <svg class="buy-now-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <strong class="buy-now-modal-title"
      >BUY<span class="top-sellers-part"> NOW</span></strong
    >

    <ul class="buy-now-menu-list">
      <li class="buy-now-menu-item">
        <img
          class="buy-modal-img"
          src="./img/top-sellers/modal-img-1-desktop@2x.png"
          alt="chocolate cubes"
          width="150px"
          height="60px"
        />
        <p class="buy-now-gramm">100 g</p>
      </li>
      <li class="buy-now-menu-item">
        <img
          class="buy-modal-img"
          alt="milk and white chocolate"
          width="150px"
          height="52px"
          src="./img/top-sellers/modal-img-2-desktop@2x.png"
        />
        <p class="buy-now-gramm">200 g</p>
      </li>
      <li class="buy-now-menu-item">
        <img
          class="buy-modal-img"
          alt="Chocolate bar"
          width="153px"
          height="60px"
          src="./img/top-sellers/modal-img-3-desktop@2x.png"
        />
        <p class="buy-now-gramm">300 g</p>
      </li>
    </ul>

    <form name="Personal information" class="buy-now-form">
      <label class="buy-now-label" for="user-name">Personal information</label>

      <div class="buy-now-name-field">
        <input
          class="buy-now-form-field"
          placeholder="Name"
          type="text"
          name="user-name"
          id="user-name"
          required
        />
        <input
          class="buy-now-form-field"
          placeholder="Surname"
          type="text"
          name="Surname-name"
          id="Surname-name"
          required
        />
      </div>

      <label class="buy-now-label" for="user-email">Email</label>

      <input
        class="buy-now-form-field"
        placeholder="Enter your email"
        type="email"
        name="user-email"
        id="user-email"
        required
      />
      <label class="buy-now-label" for="user-phone">Phone number</label>
      <div class="modal-phone-field">
        <div class="review-phone">
          <svg class="modal-phone-icon" width="24" height="24">
            <use href="./img/icons.svg#flag"></use>
          </svg>
          <p class="phone-text">+380</p>
        </div>

        <input
          class="buy-now-form-field"
          placeholder="Phone number"
          type="tel"
          name="phone"
          id="user-phone"
          required
          minlength="5"
          maxlength="15"
        />
      </div>

      <label class="buy-now-label" for="user-card">Card number</label>

      <div class="modal-card-field">
        <div class="card-icon-wrapper">
          <svg class="modal-card-icon" width="24" height="24">
            <use href="./img/icons.svg#mastercard"></use>
          </svg>
        </div>

        <input
          class="buy-now-form-field"
          placeholder="Enter card"
          type="tel"
          name="card"
          id="user-card"
          required
          minlength="14"
          maxlength="16"
        />
      </div>

      <label class="buy-now-label" for="user-comment">Comment</label>

      <textarea
        class="buy-now-form-comment"
        name="comment"
        id="user-comment"
        rows="5"
        placeholder="Enter text"
      ></textarea>

      <button class="sellers-hero-btn sellers-hero-buy-btn" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
