<div class="backdrop is-hidden" data-second-modal>
  <div class="review-modal">
    <button type="button" class="modal-close" data-second-modal-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="review-modal-header">
      leave a review about
      <span class="review-modal-header-span">our chocolate</span>
    </h2>
    <form name="review-form">
      <div class="review-modal-input-group">
        <label class="review-modal-label">
          <input
            type="text"
            name="user_name"
            class="review-modal-input"
            placeholder="Name"
            required
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Enter your name: two words separated by space"
          />
        </label>
        <label class="review-modal-label">
          <input
            type="email"
            name="user_email"
            class="review-modal-input"
            placeholder="Enter your email"
            title="Enter your email: example@mail.com"
          />
        </label>
        <div class="review-wrap">
          <div class="review-phone">
            <svg class="modal-phone-icon" width="24" height="24">
              <use href="./img/icons.svg#flag"></use>
            </svg>
            <p class="phone-text">+380</p>
          </div>
          <label class="review-modal-label">
            <input
              type="tel"
              name="user_phone"
              class="review-modal-input phone"
              placeholder="Phone number"
              required
              pattern="^[0-9]+$"
              minlength="9"
              maxlength="9"
              title="Enter your phone number without +380"
            />
          </label>
        </div>
        <label class="review-modal-label">
          <textarea
            name="user_comment"
            class="review-modal-input-comment"
            rows="3"
            placeholder="Enter text"
            required
            title="Type your review about our chocolate"
          ></textarea>
        </label>
      </div>
      <button type="submit" class="review-modal-button">Send</button>
    </form>
  </div>
</div>
