<div class="sub-backdrop is-hidden" data-third-modal>
  <div class="sub-modal sub_mod_img">
    <button class="sub-close-btn" type="button" data-third-modal-close>
      <svg class="sub-close-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- <img
        class="sub-img"
        srcset="
          ./img/subscribe/mod_sub_mob311@1x.jpg   311w,
          ./img/subscribe/mod_sub_tab538@1x.jpg   538w,
          ./img/subscribe/mod_sub_mob622@2x.jpg   622w,
          ./img/subscribe/mod_sub_tab1076@2x.jpg 1076w
        "
        sizes="(min-width: 768px) 538px, (min-width: 320px) 311px, 100vw"
        src="./img/subscribe/mod_sub_mob311@1x.jpg"
        alt="modal chocolate"
        width="311"
        height="169"
      /> -->
    <p class="sub-modal-txt">
      EXPLORE OUR <br />
      <span class="sub-span">NEW CHOCOLATE</span> FIRST!
    </p>
    <form class="sub-form">
      <label class="sub-modal-label">
        <input
          class="sub-modal-input"
          type="email"
          name="subscribe"
          placeholder="Enter your email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
      /></label>
      <button class="sub-modal-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
