<section class="container products-container">
    <h2 id="our products" class="ourproducts-title">Our <span class="ourproducts-title-orange">products</span></h2>
    <div class="products-list-container">
        <ul class="products-list">
            <li class="products-list-item">
                <img
                class="products-item-img"
                srcset="./img/ourproducts/orange-choc.jpg 1x, ./img/ourproducts/orange-choc@2x.jpg 2x"
                src="./img/ourproducts/orange-choc.jpg"
                alt="Dark chocolate picture"
                width="230px"
                height="201px"
                loading="lazy">
                <div class="product-info">
                    <h3 class="product-title">Orange</h3>
                    <p class="product-subtitle">Dark chocolate</p>
                    <button class="price-btn" type="button">45 UAH</button>
                </div>
            </li>
            <li class="products-list-item">
                <img
                class="products-item-img"
                srcset="./img/ourproducts/apple-choc.jpg 1x, ./img/ourproducts/apple-choc@2x.jpg 2x"
                src="./img/ourproducts/apple-choc.jpg"
                alt="Apple&Cranberry chocolate picture"
                width="230px"
                height="201px"
                loading="lazy">
                <div class="product-info">
                    <h3 class="product-title">Apple&Cranberry</h3>
                    <p class="product-subtitle">Milk chocolate</p>
                    <button class="price-btn" type="button">50 UAH</button>
                </div>
            </li>
            <li class="products-list-item">
                <img
                class="products-item-img"
                srcset="./img/ourproducts/lime-choc.jpg 1x, ./img/ourproducts/lime-choc@2x.jpg 2x"
                src="./img/ourproducts/lime-choc.jpg"
                alt="Lime&Sea salt chocolate picture"
                width="230px"
                height="201px"
                loading="lazy">
                <div class="product-info">
                    <h3 class="product-title">Lime&Sea salt</h3>
                    <p class="product-subtitle">Dark chocolate</p>
                    <button class="price-btn" type="button">66 UAH</button>
                </div>
            </li>
            <li class="products-list-item">
                <img
                class="products-item-img"
                srcset="./img/ourproducts/pineapple-choc.jpg 1x, ./img/ourproducts/pineapple-choc@2x.jpg 2x"
                src="./img/ourproducts/pineapple-choc.jpg"
                alt="Pineapple chocolate picture"
                width="230px"
                height="201px"
                loading="lazy">
                <div class="product-info">
                    <h3 class="product-title">Pineapple</h3>
                    <p class="product-subtitle">Dark chocolate</p>
                    <button class="price-btn" type="button">54 UAH</button>
                </div>
            </li>
        </ul>
    </div>
</section>