<section id="chocolateisloved" class="review-section">
  <div class="container">
    <h2 class="review-header">
      chocolate <span class="review-header-span">is loved</span>
    </h2>
    <ul class="review-list list">
      <li class="review-item">
        <img
          class="review-img"
          srcset="
            ./img/review/photo_victoria_dobrzhanska_@1x.png 1x,
            ./img/review/photo_victoria_dobrzhanska_@2x.png 2x
          "
          src="./img/review/photo_victoria_dobrzhanska_@1x.png"
          alt="Photo Victoria Dobrzhanska"
          width="80"
          height="80"
        />
        <h3 class="review-name">Victoria Dobrzhanska</h3>
        <p class="review-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="review-item">
        <img
          class="review-img"
          srcset="
            ./img/review/photo-nazar-babenko_@1x.png 1x,
            ./img/review/photo-nazar-babenko_@2x.png 2x
          "
          src="./img/review/photo-nazar-babenko_@1x.png"
          alt="Photo Nazar Babenko"
          width="80"
          height="80"
        />
        <h3 class="review-name">Nazar Babenko</h3>
        <p class="review-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="review-item">
        <img
          class="review-img"
          srcset="
            ./img/review/photo-olena-kampusch_@1x.png 1x,
            ./img/review/photo-olena-kampusch_@2x.png 2x
          "
          src="./img/review/photo-olena-kampusch_@1x.png"
          alt="Photo Olena Kampusch"
          width="80"
          height="80"
        />
        <h3 class="review-name">Olena Kampusch</h3>
        <p class="review-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <div class="swiper">
      <div class="swiper-wrapper-pagination">
        <div class="swiper-pagination">
          <span class="swiper-pagination-bullet-active"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
        </div>
      </div>
    </div>
    <button type="button" class="review-btn btn" data-second-modal-open>
      Leave a review
    </button>
  </div>
</section>
