<section class="review-section">
    <div class="review-container container">
        <h2 class="review-header">chocolate <span class="review-header-span">is loved</span></h2>
        <ul class="review-list list">
            <li class="review-item">
                <div class="review-block">
                    <img class="review-img" src="./images/review/review-victoria-dobrzhanska.jpg"
                        alt="Photo Victoria Dobrzhanska" width="80" height="80" />
                    <h3 class="review-name">Victoria Dobrzhanska</h3>
                    <p class="review-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered
                        in a thin layer chocolate.</p>
                </div>
            </li>
            <li class="review-item">
                <div class="review-block">
                    <img class="review-img" src="./images/review/review-nazar-babenko.jpg"
                        alt="Photo Victoria Dobrzhanska" width="80" height="80" />
                    <h3 class="review-name">Nazar Babenko</h3>
                    <p class="review-text">
                        This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut
                        cream is smooth, and the chocolate is
                        good.
                    </p>
                </div>
            </li>
            <li class="review-item">
                <div class="review-block">
                    <img class="review-img" src="./images/review/review-olena-kampusch.jpg"
                        alt="Photo Victoria Dobrzhanska" width="80" height="80" />
                    <h3 class="review-name">Olena Kampusch</h3>
                    <p class="review-text">
                        Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess
                        inside. The wafer is soft but crunchy.
                    </p>
                </div>
            </li>
        </ul>
        <button type="button" class="review-btn btn">Leave a review</button>
    </div>
</section>