<!-- tOP SELLERS -->
   <section class="section top-sellers" id="topsellers">
        <div class="container top-sellers-container">
      <h2 class="top-sellers-logo">TOP<span class="top-sellers-part"> SELLERS</span></h2>
      <div class="top-sellers-ul">
      <ul class="list top-sellers-about">
        <li class="top-sellers-about-item">
          <img class="sellers-img"
        srcset="./img/top-sellers/nuts@1x_335.jpg 335w,
                ./img/top-sellers/nuts@1x_344.jpg 344w,
                ./img/top-sellers/nuts@1x_368.jpg 368w,
                ./img/top-sellers/nuts@2x_670.jpg 670w,
                ./img/top-sellers/nuts@2x_688.jpg 688w,
                ./img/top-sellers/nuts@2x_736.jpg 736w"
        sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px 100vw"
        src="./img/top-sellers/nuts@1x_335.jpg"
      alt="chocolate-coffee-nut" width="335" height="464">
      <p class="top-sellers-paragraf">
        Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
        thousands of years and was first discovered by the Native American tribe called the Mayans.
       </p>
    </li>
        <li class="top-sellers-about-item">
          <img class="sellers-img"
        srcset="./img/top-sellers/chocolate@1x_335.jpg 335w,
                ./img/top-sellers/chocolate@1x_344.jpg 344w,
                ./img/top-sellers/chocolate@1x_368.jpg 368w,
                ./img/top-sellers/chocolate@2x_670.jpg 670w,
                ./img/top-sellers/chocolate@2x_688.jpg 688w,
                ./img/top-sellers/chocolate@2x_736.jpg 736w"
        sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px 100vw"
        src="./img/top-sellers/chocolate@1x_335.jpg"
      alt="chocolate-with-nuts" width="368" height="464">
    </li>
        <li class="top-sellers-about-item">
          <img class="sellers-img"
        srcset="./img/top-sellers/chocoandsweets@1x_368.jpg 1x,
                ./img/top-sellers/chocoandsweets@2x_736.jpg 2x"
       src="./img/top-sellers/chocoandsweets@1x_368.jpg"
      alt="chocolate-pyramid" width="368" height="464">
    </li>
      </ul>
    </div>
     <p class="topsellers-paragraf-bottom">
      Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
      thousands of years and was first discovered by the Native American tribe called the Mayans.
     </p>
      <div class="top-sellers-buy">
      <button class="top-sellers-btn" data-first-modal-open type="button">Buy now</button>
    </div>
  </div>
    </section>


    <!-- Modal Window TOP-SELLERS -->
    <div class="buy-now-backdrop is-hidden" data-first-modal>
      <div class="buy-now-modal">
        <button class="buy-now-modal-close-btn" type="button" data-first-modal-close>
          <svg class="buy-now-close-icon" width="14" heigth="14">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>

        <strong class="top-sellers-logo">BUY<span class="top-sellers-part"> NOW</span></strong>
        <div class="buy-now-menu">
          <ul class="buy-now-menu-snacks">
          <li class="buy-now-menu-snacks-card">
            <button class=""></button>
            <div class="buy-now-chocolate-bar">
              <img class="image"
              srcset="./img/top-sellers-modal/modal-img-1-mobile.png, ./img/top-sellers-modal/modal-img-1-mobile@2x.png,
              ./img/top-sellers-modal/modal-img-1-desktop.png, ./img/top-sellers-modal/modal-img-1-desktop@2x.png"
              src="./img/top-sellers-modal/modal-img-1-mobile.png" alt="chocolate cubes" width="120" height="107" />
            </li></div>
            
            <div class="buy-now-chocolate-bar-gram"></div></li>

            <li class="buy-now-menu-snacks-card">       
            <button class=""></button>
            <div class="buy-now-chocolate-bar">
              <img class="image"
              srcset="./img/top-sellers-modal/modal-img-2-mobile.png, ./img/top-sellers-modal/modal-img-2-mobile@2x.png,
              ./img/top-sellers-modal/modal-img-2-desktop.png, ./img/top-sellers-modal/modal-img-2-desktop@2x.png"
              src="./img/top-sellers-modal/modal-img-2-mobile.png">

              <svg class="buy-now-chocolate-bar-icon" alt="milk and white chocolate" width="120" height="107"></svg>
            </div>

            <div class="buy-now-chocolate-bar-gram">
              
            </div></li>
            
            <li class="buy-now-menu-snacks-card">
          
            <div class="buy-now-chocolate-bar">
              <img class="image"
              srcset="./img/top-sellers-modal/modal-img-3-mobile.png, ./img/top-sellers-modal/modal-img-3-mobile@2x.png,
              ./img/top-sellers-modal/modal-img-3-desktop.png, ./img/top-sellers-modal/modal-img-3-desktop@2x.png"
              src="./img/top-sellers-modal/modal-img-3-mobile.png">
              <svg class="buy-now-chocolate-bar-icon" alt="Chocolate bar" width="120" height="107"></svg>
              <div> <button class="" type="button"></button></div> 
            </div>
            <div class="buy-now-chocolate-bar-gram">

            </div>
          </li>
            </div>
          </ul>

          <form name="Personal information">
            <label class="buy-now-form" for="user-name">Personal information</label>
             <div>
            <input class="buy-now-firm-field" placeholder="Name" type="text" name="user-name" id="user-name" required />
            <label class="buy-now-form" for="Surname-name"></label>
            <input class="buy-now-firm-field" placeholder="Surname" type="text" name="Surname-name" id="Surname-name" required />
          </div>
          <label class="buy-now-form" for="user-email">Email</label>
          <div>
             <input class="buy-now-firm-field" placeholder="Enter your email" type="email" name="user-email" required></label>
            </div>
            <form name="Phone number">
              <label class="buy-now-form" for="user-phone">Phone number</label>
              <div>
            <input class="buy-now-firm-field" placeholder="Phone number" type="tel" type="number" name="phone" id="user-phone" required required minlength="5" maxlength="15" />
              </div>
              <label class="buy-now-form" for="user-card">Card number</label>
              <div>
                <input class="buy-now-firm-field" placeholder="Enter  card" type="tel" name="card" id="user-card" required minlength="14" maxlength="16" />
              </div>

              <label class="buy-now-form" for="user-comment" for="user-comment">Comment</label>
                <textarea class="buy-now-form-comment" name="comment" id="user-comment" rows="5" placeholder="Enter text"></textarea>
             <button class="sellers-hero-btn sellers-hero-buy-btn" type="submit">Submit</button>
          </form>
      </div>
    </div>