<section class="section top-sellers" id="topsellers">
  <div class="container top-sellers-container">
    <h2 class="top-sellers-logo">
      TOP<span class="top-sellers-part"> SELLERS</span>
    </h2>
    <ul class="list top-sellers-about">
      <li class="top-sellers-about-item">
        <img
          class="sellers-img"
          srcset="
            ./img/top-sellers/nuts@1x_335.jpg 335w,
            ./img/top-sellers/nuts@1x_344.jpg 344w,
            ./img/top-sellers/nuts@1x_368.jpg 368w,
            ./img/top-sellers/nuts@2x_670.jpg 670w,
            ./img/top-sellers/nuts@2x_688.jpg 688w,
            ./img/top-sellers/nuts@2x_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px 100vw"
          src="./img/top-sellers/nuts@1x_335.jpg"
          alt="chocolate-coffee-nut"
          width="335"
          height="464"
        />
        <p class="top-sellers-paragraf">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-about-item">
        <img
          class="sellers-img"
          srcset="
            ./img/top-sellers/chocolate@1x_335.jpg 335w,
            ./img/top-sellers/chocolate@1x_344.jpg 344w,
            ./img/top-sellers/chocolate@1x_368.jpg 368w,
            ./img/top-sellers/chocolate@2x_670.jpg 670w,
            ./img/top-sellers/chocolate@2x_688.jpg 688w,
            ./img/top-sellers/chocolate@2x_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px 100vw"
          src="./img/top-sellers/chocolate@1x_335.jpg"
          alt="chocolate-with-nuts"
          width="368"
          height="464"
        />
      </li>
      <li class="top-sellers-about-item">
        <img
          class="sellers-img"
          srcset="
            ./img/top-sellers/chocoandsweets@1x_368.jpg 1x,
            ./img/top-sellers/chocoandsweets@2x_736.jpg 2x
          "
          src="./img/top-sellers/chocoandsweets@1x_368.jpg"
          alt="chocolate-pyramid"
          width="368"
          height="464"
        />
      </li>
    </ul>
    <p class="topsellers-paragraf-bottom">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <div class="top-sellers-buy">
      <button class="top-sellers-btn" data-first-modal-open type="button">
        Buy now
      </button>
    </div>
  </div>
</section>
