.div-f {}

.div-footer {
  max-width: 375px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  /* #ffffff --primary-text-color */
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .div-footer {
    max-width: 768px;
  }
}

@media only screen and (min-width: 768px) {
  .div-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer-title-addr {
  position: relative;
  max-width: 335px;
  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .footer-title-addr {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-title-addr {
    max-width: 768px;
    margin-bottom: 78px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-title-addr {
    max-width: 1200px;
    margin-bottom: 86px;
  }
}

.footer-title-addr::after {
  content: '';
  position: absolute;
  top: calc(100% + 32px);
  left: 0px;

  background-color: #d9d9d9;
  height: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  width: 300px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .footer-title {
    font-size: 28px;
    line-height: 1.21;
    margin-right: 124px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-title {
    margin-right: 543px;
  }
}

.footer-title-accent {
  color: var(--acent-text-color);
}

/* ------------телефон та мило------------  */
.footer-addr-sociallist {
  display: flex;
  column-gap: 113px;
}

@media only screen and (max-width: 375px) {
  .footer-addr-sociallist {
    column-gap: calc(100% - 169px - 58px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-addr-sociallist {
    column-gap: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-addr-sociallist {
    column-gap: 65px;
  }
}

.p-footer-address {
  font-weight: 500;
  font-style: normal;
  margin-bottom: 14px;
}

.footer-address {
  font-style: normal;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}

/* --------Ссилки на  соціальні мережі------------ */
.footer-socialnet-list {
  display: flex;
  column-gap: 14px;
}

.footer-socialnet-svg {
  stroke: var(--primary-text-color);
  fill: transparent;
  width: 22px;
  height: 22px;
}

@media only screen and (min-width: 767px) and (max-width: 1199px) {
  .footer-socialnet-svg {
    width: 24px;
    height: 24px;
  }
}

/* -------------меню навігації*------------- */
@media only screen and (min-width: 768px) {
  .footer-menu {
    display: flex;
    column-gap: 24px;
  }
}

.footer-menu-item {
  font-weight: 500;
  line-height: 1.14;
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .footer-menu-item:not(:last-child) {
    margin-bottom: 0;
  }
}