.hero {
  margin-bottom: 72px;
}

.hero-container {
  max-width: 335px;
  padding: 395px 20px 20px;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 30px;
  background-image: url('../img/hero/hero-mobile.jpg');
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/hero/hero-mobile@2x.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    max-width: 704px;
    padding: 671px 40px 40px;
    background-image: url('../img/hero/hero-tablet.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/hero/hero-tablet@2x.jpg');
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1136px;
    padding: 381px 40px 40px;
    background-image: url('../img/hero/hero-desktop.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/hero/hero-desktop@2x.jpg');
    }
  }
}

.hero-wrapper {
  width: 100%;
}

.hero-txt {
  display: block;
  max-width: 299px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--primary-text-color);
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .hero-txt {
    max-width: 484px;
    font-size: 28px;
    line-height: 1.21;
  }
}

.hero-btns-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px 18px;
}

.hero-btn {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  color: var(--primary-text-color);

  margin: 0;
  padding: 12px 26px;
  border-radius: 100px;
  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .hero-btn {
    padding: 14px 40px;
  }
}

.hero-buy-btn {
  background-color: var(--primary-btn-bg-color);
  border: 1px solid var(--primary-btn-bg-color);
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
  background-color: var(--hover-btn-bg-color);
  border: 1px solid var(--hover-btn-bg-color);
  color: var(--primary-btn-bg-color);
}

.hero-anchor-how {
  background-color: transparent;
  border: 1px solid var(--primary-text-color);
}

.hero-anchor-how:hover,
.hero-anchor-how:focus {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-btn-bg-color);
  color: var(--primary-btn-bg-color);
}

.hero-anchor-footer {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero-anchor-footer {
    margin-left: auto;
  }
}

.hero-scroll-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  margin-right: 14px;
}

.hero-anchor-footer:hover .hero-scroll-txt,
.hero-anchor-footer:focus .hero-scroll-txt {
  color: var(--acent-text-color);
}

.scroll-icon-box {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .scroll-icon-box {
    width: 38px;
    height: 38px;
  }
}

.hero-anchor-footer:hover .scroll-icon-box,
.hero-anchor-footer:focus .scroll-icon-box {
  background-color: var(--primary-btn-bg-color);
}

.scroll-icon {
  fill: var(--primary-btn-bg-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .scroll-icon {
    width: 22px;
    height: 22px;
  }
}

.hero-anchor-footer:hover .scroll-icon,
.hero-anchor-footer:focus .scroll-icon {
  fill: var(--primary-bg-color);
}
