.made-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .made-title {
    line-height: 28px;
  }
}

.made-list-icon {
  display: flex;

  position: relative;
  top: 13px;
  left: -13px;
}

.made-list-item {
  max-width: 291px;
}

@media only screen and (min-width: 768px) {
  .made-list-item {
    max-width: 464px;
  }
}

@media only screen and (min-width: 1200px) {
  .made-list-item {
    max-width: 436px;
  }
}

.made-title-span {
  color: var(--acent-text-color);
}

.made-img-icon {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.made-img-container {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .made-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.main-made-container {
  display: block;
}

@media only screen and (min-width: 1200px) {
  .made-container {
    display: block;
  }
  .main-made-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    column-gap: 20px;
    flex-wrap: nowrap;
  }
  .made-img-container {
    margin-bottom: 0;
  }
}

.made-uppertitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .made-uppertitle {
    margin-left: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .made-uppertitle {
    margin-top: 0;
  }
}

.made-list-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #111111;
}

.made-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 18px;
  padding-left: 48px;
}

@media only screen and (min-width: 768px) {
  .made-list {
    align-items: start;
    justify-content: start;
    padding: 0 48px;
  }
}

.made-container {
  padding: 0 20px;
  margin-top: 72px;
}

.made-list-container {
  background: #ffffff;

  border-radius: 15px;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  max-width: 335px;
  padding: 20px 14px;
}

@media only screen and (min-width: 768px) {
  .made-list-container {
    max-width: 614px;
    max-height: 854px;
  }
}

@media only screen and (min-width: 1200px) {
  .made-list-container {
    max-width: 516px;
    min-height: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
