.products-container {
    padding: 72px 0;
}

.ourproducts-title {
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    color: var(--secondary-text-color);  
    text-align: center;
    margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .ourproducts-title {
    margin-bottom: 50px;
  }
}
.ourproducts-title-orange{
    color: var(--acent-text-color);
}

.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .products-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 18px;
        margin-bottom: 32px;
    }
}
.products-list-item {
    max-width: 335px;
    max-height: 364px;
    background: var(--primary-bg-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    

    padding: 32px 52px 32px 53px;
    
}
@media only screen and (max-width: 767px) {
   .products-list-item:nth-child(n+2) {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
    .products-list-item {
        width: 270px;
        padding: 32px 20px;
        
    }
    
}
@media only screen and (max-width: 1199px) {
    .products-list-item:nth-child(n+3) {
        display: none;
    }

}

.product-info {
    text-align: center;
}
.product-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 2px;
    }
.product-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}
.price-btn {
    min-width: 94px;
    height: 33px;
    
    background: var(--main-bg-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;

    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--secondary-text-color);
    padding: 8px 20px;
    transition-property: background-color, color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.price-btn:hover,
.price-btn:focus{
    background: var(--acent-text-color);
    color: var(--primary-text-color);
    border: 1px solid var(--acent-text-color);
}

/* Swiper */
.ourproducts-swiper-wrapper {
    min-width: 210px;
    margin: 0 auto;
}
.swiper-dots-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.swiper-dot-active {
    width: 28px;
  height: 13px;

  opacity: 1;
  border-radius: 13px;
  background: var(--acent-text-color);
}
.swiper-dot {
    width: 13px;
    height: 13px;
  
    opacity: 1;
    border-radius: 13px;
    background: rgba(17, 17, 17, 0.1);
}
@media only screen and (min-width: 768px) {
    .swiper-dot:nth-child(n+9) {
    display: none;
  }
}