.review-section {
  padding: 72px 0;
}

@media only screen and (min-width: 768px) {
  .review-section {
    padding: 100px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .review-section {
    padding: 128px 0;
  }
}

.review-header {
  margin-bottom: 74px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--acent-text-color);
}

@media only screen and (min-width: 768px) {
  .review-header {
    margin-bottom: 91px;

    font-size: 24px;
    line-height: 1.17;
  }
}

.review-header-span {
  color: var(--secondary-text-color);
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .review-list {
    margin-bottom: 31px;
  }
}

@media only screen and (min-width: 1200px) {
  .review-list {
    gap: 28px;
  }
}

.review-item {
  position: relative;
  width: 335px;
  height: 200px;

  background: var(--primary-bg-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

@media only screen and (max-width: 767px) {
  .review-item:nth-child(n + 2) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .review-item {
    width: 344px;
  }
}

@media only screen and (max-width: 1199px) {
  .review-item:nth-child(n + 3) {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .review-item {
    width: 360px;
  }
}

.review-block {
  position: absolute;
  left: 0px;
  right: 0;
  top: -42px;
}

.review-img {
  margin: 0 auto;
  margin-bottom: 18px;
}

.review-name {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;

  color: var(--secondary-text-color);
}

.review-text {
  max-width: 300px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;

  min-width: 165px;
  height: 41px;

  background: var(--main-bg-color);
  border: 1px solid var(--acent-text-color);
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  color: var(--secondary-text-color);
}

@media only screen and (min-width: 768px) {
  .review-btn {
    padding: 14px 40px;

    min-width: 222px;
    height: 50px;

    font-size: 18px;
    line-height: 1.22;
  }
}

.review-btn:hover,
.review-btn:focus {
  background: var(--primary-btn-bg-color);
  border: none;
  color: var(--hover-btn-bg-color);
}

/* Swiper Slider */

.swiper-wrapper-pagination {
  width: 106px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .swiper-wrapper-pagination {
    margin-bottom: 50px;
  }
}

.swiper-pagination {
  display: flex;
  gap: 13px;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;

  opacity: 1;
  border-radius: 13px;
  background: #fd9222;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;

  opacity: 1;
  border-radius: 13px;
  background: rgba(17, 17, 17, 0.1);
}

/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;

  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;

  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .review-modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
}

.review-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  margin: 0 auto;

  width: 311px;
  min-height: 471px;
  padding: 32px 24px;
  background: var(--main-bg-color);
  border-radius: 15px;

  transition: transform 300ms linear;
}

@media only screen and (min-width: 768px) {
  .review-modal {
    width: 517px;
    min-height: 628px;
    padding: 40px;
  }
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: none;
  background-color: transparent;
}

.modal-close-icon {
  stroke: var(--secondary-text-color);
}

.modal-close-icon:focus,
.modal-close-icon:hover {
  stroke: var(--primary-btn-bg-color);
  background-color: #fcf1e0;
  border-radius: 50%;
}

.review-modal-header {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

@media only screen and (min-width: 768px) {
  .review-modal-header {
    width: 300px;
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 1.17;
  }
}

.review-modal-header-span {
  color: var(--acent-text-color);
}

.review-modal-input-group {
  display: flex;
  flex-direction: column;
  gap: 14px;

  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .review-modal-input-group {
    gap: 18px;
  }
}

.review-input {
  position: relative;
}

.review-input-text {
  position: absolute;
  pointer-events: none;
  top: 14px;
  left: 18px;
  z-index: 10;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
}

@media only screen and (min-width: 768px) {
  .review-input-text {
    top: 22px;
    left: 24px;

    font-size: 18px;
    line-height: 1.22;
  }
}

.review-input-text.phone {
  left: 106px;
}

@media only screen and (min-width: 768px) {
  .review-input-text.phone {
    left: 177px;
  }
}

.review-modal-input.phone {
  padding-left: 106px;
}

@media only screen and (min-width: 768px) {
  .review-modal-input.phone {
    padding-left: 177px;
  }
}

.review-phone::after {
  content: '';
  position: absolute;
  top: 0;
  left: 74px;
  display: block;

  width: 1px;
  height: 100%;
  background-color: rgba(64, 64, 64, 0.3);
}

@media only screen and (min-width: 768px) {
  .review-phone::after {
    left: 125px;
  }
}

.review-phone {
  position: absolute;
  top: 10.5px;
  left: 18px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .review-phone {
    top: 17px;
    left: 24px;

    gap: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .modal-phone-icon {
    width: 32px;
    height: 32px;
  }
}

.phone-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  align-items: center;
  letter-spacing: -0.02em;

  color: var(--secondary-text-color);
}

@media only screen and (min-width: 768px) {
  .phone-text {
    font-size: 18px;
    line-height: 1.22;
  }
}

.review-modal-input {
  display: block;
  width: 100%;
  height: 45px;
  padding: 14px 18px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .review-modal-input {
    height: 66px;
    padding: 22px 24px;
  }
}

.review-modal-input-comment {
  display: block;
  width: 100%;
  height: 91px;
  padding: 14px 18px;

  resize: none;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .review-modal-input-comment {
    height: 137px;
    padding: 22px 24px;
  }
}

.review-modal-input:focus,
.review-modal-input-comment:focus {
  border: 1px solid var(--primary-btn-bg-color);
  outline: none;
}

.review-modal-input:focus + .review-input-text {
  color: transparent;
}

.review-modal-button {
  padding: 12px 28px;

  min-width: 93px;
  height: 41px;

  background: var(--primary-btn-bg-color);
  border-radius: 100px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--primary-text-color);
}

@media only screen and (min-width: 768px) {
  .review-modal-button {
    padding: 16px 40px;

    min-width: 117px;
    height: 45px;
  }
}
