/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique.css');
@import url('./howitmade.css');
@import url('./ourproduct.css');
@import url('./topsellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

@import url('./modal_buynow.css');
@import url('./modal_reviews.css');
@import url('./modal_subscribe.css');


/* підключення шрифтів */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("ttf");
}

/* плавність реакціі на рух по якірному посиланню */
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  background-color: var(--main-bg-color);
}


:root {
  --primary-text-color: #ffffff;
  --main-bg-color: #FAFAFA;
  --primary-bg-color: #ffffff;
  --secondary-text-color: #111111;
  --acent-text-color: #FD9222;
  --secondary-bg-color: #1E1823;
  --primary-btn-bg-color: #FD9222;
  --secondary-btn-bg-color: #1E1823;
  --hover-btn-bg-color: #FCF1E0;

}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;

  padding-right: 20px;
  padding-left: 20px;
}


@media only screen and (min-width:768px) {
  .container {
    max-width: 768px;

    padding-right: 32px;
    padding-left: 32px;
  }
}

@media only screen and (min-width:1200px) {
  .container {
    max-width: 1200px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}