.sub-section {
  padding: 62px 0;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-image: url('../img/subscribe/sub_mob@1x.jpg');
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .sub-section {
    background-image: url('../img/subscribe/sub_mob@2x.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .sub-section {
    padding: 72px 0;
    background-image: url('../img/subscribe/sub_tab@1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .sub-section {
      background-image: url('../img/subscribe/sub_tab@2x.jpg');
    }
  }
}

@media only screen and (min-width: 1200px) {
  .sub-section {
    background-image: url('../img/subscribe/sub_desk@1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .sub-section {
      background-image: url('../img/subscribe/sub_desk@2x.jpg');
    }
  }
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.sub-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  color: var(--primary-text-color);
  margin: 0 auto;
  max-width: 291px;
}
@media only screen and (min-width: 768px) {
  .sub-title {
    font-size: 24px;
    line-height: 1.17;
    min-width: 378px;
  }
}

.sub-txt {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  max-width: 326px;
}
@media only screen and (min-width: 768px) {
  .sub-txt {
    min-width: 467px;
  }
}

.sub-btn {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  width: 128px;
  color: var(--primary-text-color);
  background-color: var(--primary-btn-bg-color);
  border: 1px solid var(--primary-btn-bg-color);
  margin: 0;
  padding: 12px 26px;
  border-radius: 100px;
  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:hover,
.sub-btn:focus {
  color: var(--primary-btn-bg-color);
  background-color: var(--hover-btn-bg-color);
}

@media only screen and (min-width: 768px) {
  .sub-btn {
    width: 172px;
    height: 50px;
  }
}

/**
  |============================
  | Modal
  |============================
*/
