/* Modal Window */
.buy-now-backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  margin: 0 auto;
  width: 311px;
  min-height: 471px;
  padding: 32px 24px;
  background: var(--main-bg-color);
  border-radius: 15px;
  transition: transform 300ms linear;
}

.buy-now-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.buy-now-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 609px;
  min-height: 994px;
  padding: 48px 69px 48px 48px;
  background-color: var(--main-bg-color);
  border-radius: 15px;

  transition: transform var(--main-bg-color);
}

@media only screen and (min-width: 768px) {
  .buy-now-modal {
    width: 517px;
    min-height: 628px;
    padding: 40px;

    overflow-y: scroll;
  }
}

.buy-now-modal.is-hidden .buy-now-backdrop {
  transform: translate(-50%, -90%);
}

.buy-now-chocolate-bar {
  display: flex;
  justify-content: center;
}

.buy-now-modal.is-hidden {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 609px;
  min-height: 990px;
  background-color: var(--main-bg-color);
  border-radius: 15px;

  top: 100px;
  transform: translate(-50%) scale(1);

  height: 1058px;
  border-radius: 15px;
}

.buy-now-modal-close-btn {
  min-height: 5px;
  min-width: 5px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  cursor: pointer;
  border: none;
  outline: none;
  /*top: 14px;
  right: 14px;
 
  
  padding: 0;
  border: none;
  background-color: transparent; */
}

.buy-now-close-icon {
  stroke: var(--secondary-text-color);
}

.buy-now-menu-snacks {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.sellers-hero-btn {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  color: var(--primary-text-color);

  margin: 0;
  padding: 12px 26px;
  border-radius: 100px;
  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 50px;
  gap: 14px;

  width: 162px;
  height: 50px;

  background: var(--acent-text-color);
  border-radius: 100px;
}

.buy-now-form {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* TOP-SELLERS */

.top-sellers-buy {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .top-sellers-buy {
    display: flex;
  }
}

.sellers-hero-buy-btn {
  background-color: var(--primary-btn-bg-color);
  border: 1px solid var(--primary-btn-bg-color);
}

.sellers-hero-buy-btn:hover,
.sellers-hero-buy-btn:focus {
  background-color: var(--hover-btn-bg-color);
  border: 1px solid var(--hover-btn-bg-color);
  color: var(--primary-btn-bg-color);
}

.top-sellers {
}
.top-sellers-container {
  position: relative;
}
.top-sellers-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .top-sellers-about {
    gap: 16px;
    flex-direction: row;
  }
}
.top-sellers-about-item {
}
@media only screen and (max-width: 1199px) {
  .top-sellers-about-item:nth-child(n + 3) {
    display: none;
  }
}
.top-sellers-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--acent-text-color);
  padding-top: 72px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .top-sellers-logo {
    margin-bottom: 50px;
  }
}
.top-sellers-part {
  color: var(--secondary-text-color);
}
.sellers-img {
  width: 335px;
  height: 464px;
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .sellers-img {
    width: 344px;
  }
}
@media only screen and (min-width: 1200px) {
  .sellers-img {
    width: 368px;
  }
}
.top-sellers-paragraf {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--secondary-text-color);
  margin-top: 20px;
  margin-bottom: 32px;
  width: 306px;
}
@media only screen and (min-width: 768px) {
  .top-sellers-paragraf {
    margin-top: 32px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .top-sellers-paragraf {
    display: none;
  }
}
.topsellers-paragraf-bottom {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--secondary-text-color);
  margin-top: 32px;
  display: none;
}
@media only screen and (min-width: 1200px) {
  .topsellers-paragraf-bottom {
    display: block;
    width: 407px;
  }
}
.top-sellers-buy {
  display: flex;
  margin-top: 20px;
}
.top-sellers-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .top-sellers-buy {
    display: flex;
  }
}

.top-sellers-btn {
  cursor: pointer;
  padding: 12px 28px;
  min-width: 120px;
  height: 41px;
  background: var(--acent-text-color);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary-text-color);
  border: 1px solid var(--acent-text-color);
  transition-property: background-color, color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.top-sellers-btn:hover,
.top-sellers-btn:focus {
  background: var(--hover-btn-bg-color);
  color: var(--acent-text-color);
  border: 1px solid var(--hover-btn-bg-color);
}
@media only screen and (min-width: 768px) {
  .top-sellers-btn {
    position: absolute;
    right: 33px;
    bottom: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .top-sellers-btn {
    bottom: 52px;
  }
}

.top-sellers-btn {
  cursor: pointer;
  padding: 12px 28px;
  min-width: 120px;
  height: 41px;
  background: var(--acent-text-color);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary-text-color);
  border: 1px solid var(--acent-text-color);
  transition-property: background-color, color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.top-sellers-btn:hover,
.top-sellers-btn:focus {
  background: var(--hover-btn-bg-color);
  color: var(--acent-text-color);
  border: 1px solid var(--hover-btn-bg-color);
}
@media only screen and (min-width: 768px) {
  .top-sellers-btn {
    position: absolute;
    right: 33px;
    bottom: 62px;
    min-width: 162px;
    height: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .top-sellers-btn {
    bottom: 46px;
  }
}
