:root {
  /* --primary-text-color: #ffffff;
  --main-bg-color: #fafafa;
  --primary-bg-color: #ffffff;
  --secondary-text-color: #111111;
  --acent-text-color: #fd9222;
  --secondary-bg-color: #1e1823;
  --primary-btn-bg-color: #fd9222;
  --secondary-btn-bg-color: #1e1823;
  --hover-btn-bg-color: #fcf1e0; */
  /* my styles */
  --indent-horizontal: 20px;
  --indent-vertical: 32px;
  --items: 1;
}

/* .container {
  outline: 1px solid tomato;
} */

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontal);
  column-gap: var(--indent-vertical);
}
.card-set-item {
  flex-basis: calc(
    (100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items)
  );
}

.unique-components {
  padding-top: 72px;
  padding-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .unique-components {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .unique-components {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.unique-components-title {
  width: 283px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}

@media only screen and (min-width: 768px) {
  .unique-components-title {
    margin-bottom: 28px;

    width: 411px;
    height: 56px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.highlight {
  color: #fd9222;
}
.unique-components-description {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #111111;
}

@media only screen and (min-width: 768px) {
  .unique-components-description {
    width: 486px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
.unique-components-list {
  --items: 1;
}

@media only screen and (min-width: 768px) {
  .unique-components-list {
    --items: 2;
    --indent-horizontal: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .unique-components-list {
    --items: 4;
    --indent-vertical: 19px;
  }
}

.unique-components-item {
  position: relative;
  padding: 28px 55px 71px 56px;
  height: 270px;
  border-radius: 15px;
  overflow: hidden;
}

.chocolate {
  background: #fd9222;
}

.unique-components-additional-information {
}

.unique-components-wrapper {
  /* position: relative; */
}

.unique-img {
  display: block;
  margin: auto;
}
.unique-components-list-title-chocolate {
  position: absolute;
  left: 28px;
  bottom: 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.unique-components-wrapper-overlay {
  padding: 28px;
  position: absolute;
  top: 0;
  left: 0;

  /* width: 100%;
  height: 100%; */

  /* width: 335px;
  height: 270px; */
  width: 336px;
  height: 271px;
  background-color: #fff;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.unique-components-item:hover .unique-components-wrapper-overlay,
.unique-components-item:focus .unique-components-wrapper-overlay {
  transform: translateY(0);
}

@media only screen and (min-width: 768px) {
  .unique-components-wrapper-overlay {
    width: 336px;
    height: 270px;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  .unique-components-wrapper-overlay {
    width: 270px;
    height: 270px;
    text-align: center;
  }
}

.unique-overlay-container {
  width: 279px;
  height: 214px;
}
.unique-overlay-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22px;

  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
}
.unique-buttons {
  margin-bottom: 14px;
  display: flex;
  gap: 6px;
}
.unique-component-button-chocolate {
  display: block;
  min-width: 81px;
  height: 24px;
  padding: 6px 16px;

  cursor: pointer;
  background: #fd9222;
  border-radius: 35px;
  border: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: #ffffff;
}
.unique-benefit-button {
  display: block;
  padding: 6px 16px;
  min-width: 93px;
  height: 24px;
  cursor: pointer;

  background: #fafafa;

  border: 1px solid #fd9222;
  border-radius: 35px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: #111111;
}
.unique-component-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;

  color: #111111;
}

@media only screen and (min-width: 768px) {
  .unique-component-description {
    text-align: start;
  }
}

.milk {
  outline: 1px solid #fd9222;
  outline-offset: -2px;
}
.unique-components-list-title-milk {
  position: absolute;
  left: 28px;
  bottom: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
}
.unique-component-button-milk {
  display: block;
  min-width: 54px;
  height: 24px;
  padding: 6px 16px;

  cursor: pointer;
  background: #fd9222;
  border-radius: 35px;
  border: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: #ffffff;
}

.nuts {
  background: #1e1823;
}

.unique-components-list-title-nuts {
  position: absolute;
  left: 28px;
  bottom: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
}
.unique-component-button-nuts {
  display: block;
  min-width: 55px;
  height: 24px;
  padding: 6px 16px;

  cursor: pointer;
  background: #fd9222;
  border-radius: 35px;
  border: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: #ffffff;
}

.semi {
  outline: 1px solid #fd9222;
  outline-offset: -2px;
}

.unique-components-list-title-semi-sweet {
  position: absolute;
  left: 28px;
  bottom: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
}

.unique-component-button-semi-sweet {
  display: block;
  min-width: 114px;
  height: 24px;
  padding: 6px 16px;

  cursor: pointer;
  background: #fd9222;
  border-radius: 35px;
  border: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: #ffffff;
}
